<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About</title>
    {{>headerlinks}}
  </head>
  <body>
    {{>navbar}}
      <!-- main header -->
      <div class="container-fluid main_header">
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
              <div class="col-md-6 col-12 main_header_left align-items-center">
                <figure>
                  <img
                    src="images/about.png"
                    alt="me"
                    class="img-fluid"
                    title="Sudipta"
                    id="my-img"
                  />
                </figure>
              </div>
              <div class="col-md-6 col-12 main_header_right">
                <p>Sudipta Tech Amenity</p>
                <h1>
                  Hola, I am
                  <span style="color: violet">Sudipta Behera</span>.<br />
                  A serious MERN stack developer.
                </h1>
                <a href="https://www.linkedin.com/in/sudipta-behera/"
                  ><button>More about me</button></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{>footer}}
  </body>
</html>
